.tbBtn {
    background: #f3f2f1;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border: none;
  }
  
.tbBtn:hover {
background-color: white;
border-radius: 3px;
}


/* Toolbar */
.Toolbar {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
}

/* Left tool bar */
.leftToolbar {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
padding-left: 0px;
}

.lefttoolbarBtn {
display: flex;
gap: 10px;
}

.myday {
font-size: 16px;
font: Arial;
line-height: 48px;
}

/* Right tool bar */
.rightToolbar {
gap: 15px;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-top: 20px;
padding-right: 30px;
}

.tbdate {
width: 100%;
display: flex;
justify-content: flex-start;
margin-left: 63px;

}

#todayDate {
font-size: 13px;
font: Arial;
line-height: 3px;
padding: 0px;
margin-top: 6px;
}
